.pizza {
    color: #8b0000;
}
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
.cookies {
    color: rgb(139, 69, 19);
}
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
.empanadas {
    color: rgb(184, 134, 11);
}
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
h1 {
    color: #191971;
    border-color:darkslategray;
    border-style: solid;
    border-width: thin;
    text-align: center;
}
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
