.pizza {
    color: #8b0000;
}
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
.cookies {
    color: rgb(139, 69, 19);
}
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
.empanadas {
    color: rgb(184, 134, 11);
}
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
ul {
    font-size: 15px;
}
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
div {
    color: #191971;
    border-color:darkslategray;
    border-style: dotted;
    border-width: thick;
    text-align: center;
    background-color:rgb(245, 245, 245);
    text-shadow: 2px 2px 6px #191971;
}
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
img {
    height: 50px;
    width: auto;
}
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
* {
    font-family: monospace;
}